body {
  padding-bottom: 20px;
  background-color: black;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo{
  width: 30px;
  height: 30px; 
  
}

.botonera{
  width: 100%;
  height: 10vh;
  background:transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bt-regresar label{
  padding: 5px 10px;
  background-color: #fe9001;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 100px;
  transition: all 300ms ease;
}
.bt-regresar label:hover{
  background-color: #ff9e03;
}

.bt-regresar a{
  text-decoration: none;
  color: #000000;
  font-size: 12px;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.publicidad{
  align-items: center;
  height: 200px;
  width: auto;
  background: #000000;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;

}

.publicidad img{
  height: 200px;
  width: max-content; 
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
.publicidad img{
  padding-left: 100px;
}


}


@media (max-width:768px) {

  .tables{
    min-width: 460px;
  }

 .encabezado{
  min-width: 460px;
 } 

 .navbar {
  min-width: 460px;
 
}

.publicidad{
  min-width: 460px; 
}


}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.encabezado{
  margin:auto; 
  background-color: #000000;
  color: white;
  font-size: 14px;
  padding: 30px;
  width: auto;
  border:solid 5px  LightSteelBlue;
  overflow: hidden;
}        
.encabezado input{
  font-size:14px;
  color: rgb(255, 255, 255);
  width:200px;
  background-color: rgb(0, 0, 0);
  border: none;
  margin-left: 100px;
  }
  


  .encabezado ol li{
          line-height: 25px;
          list-style-type: none;
          padding: 4px;
          }

.encabezado h1{
  text-align: center;
  margin-bottom: 10px;            
  } 


  .tables{
    margin:auto;
    background-color: #000000;
    color: white;
    font-size: 12px;
    padding: 30px;
    width: auto;
    border:solid 10px LightSteelBlue inset;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
.tables fieldset{
    border: none;
    }
    
.tables h1{
    text-align: center;
    margin-bottom: 10px;
    }   
    
.tables table{
        margin: auto;  
         width:350px;
         text-align: center;
       
       }
       
       
.tables th, td {
           width:min-content;
           border: 0;
           color: white;
         }
           
.tables  ol li{
    line-height: 25px;
    list-style: none;
    list-style-type: none;
  padding-top: 20px;
    }
    


.tables select{
        font-size:12px;
        background: yellow;
        border:solid 1px Green;
        border-radius: 5px;
        float: right;
        margin-right: 10px;        
        width: 80px;
        height: 20px;
      }

.tables select option{
        background:black;
        color:red;
      }

.tables select option:disabled{
        background: blue;
      }


.tables button{
        font-size:14px;
        background: yellow;
        color: black ;
        font-weight: 700;
        width: 350px;
        height: 20px;
        text-align: center;
       padding-top: 5px;
        margin-top: 15px;
        margin-right:10px;         
        }    


  .login-entrada{
      background-color: #000000;
      color: white;
      font-size: 12px;
      padding: 30px;
      width: auto;
      height: 400px;
      border:solid 10px LightSteelBlue;
      border-radius: 10px;
      margin-top: 60px;
      }
          
      .login-entrada fieldset{
          border: none;
          }
          
      .login-entrada h1{
          text-align: center;
          margin-bottom: 10px;            
          }        
          
      .login-entrada  ol li{
          line-height: 25px;
          list-style: none;
          list-style-type: none;
        padding-top: 20px;
          }
          
      .login-entrada  [required]{
          border:solid 1px red;
          }
          
      .login-entrada input:required {
          outline: 1px solid red;
          }
      
      .login-entrada select{
              font-size:12px;
              background: yellow;
              border:solid 1px Green;
              border-radius: 5px;
              float: right;
              margin-right: 20px;        
              width: 250px;
              height: 30px;
            }

      .login-entrada select option{
              background:white;
              color:red;
            }

      .login-entrada select option:disabled{
              background: blue;
            }
      
      .login-entrada input{
              font-size:12px;
              background: yellow;
              border:solid 1px Green;
              border-radius: 5px;
              float: right;
              margin-right: 20px;  
              height: 30px; 
              width: 250px;
              }
      
      .login-entrada button{
              font-size:14px;
              background: yellow;
              color: black ;
              font-weight: 700;
              border:solid 1px Green;
              width: 350px;
              height: 30px;
              text-align: center;
             padding-top: 5px;
              margin-top: 15px;
              float: right;
              margin-right:20px;   
            
              }        
